name: Publish

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "**/*.gitignore"
      - "**/*.gitattributes"
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            artifact: build-macos
          - os: windows-latest
            artifact: build-windows
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: NBGV
        uses: dotnet/nbgv@master
        id: nbgv
        with:
          stamp: package.json

      - name: NBGV outputs
        run: |
          echo "SimpleVersion: ${{ steps.nbgv.outputs.SimpleVersion }}"

      - name: Build
        run: npm run build
        env:
          CSC_IDENTITY_AUTO_DISCOVERY: false

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}
          path: |
            release/*.dmg
            release/*.zip
            release/*.exe
          if-no-files-found: error

  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: NBGV
        uses: dotnet/nbgv@master
        id: nbgv

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true

      - name: Tag and Release
        uses: softprops/action-gh-release@v1
        with:
          body: Release ${{ steps.nbgv.outputs.SimpleVersion }}
          tag_name: ${{ steps.nbgv.outputs.SimpleVersion }}
          generate_release_notes: true
          files: artifacts/**/*
